header {
    color: white;
    background-color: navy;
    padding-top: .8em;
    padding-bottom: .5em;
    text-align: center;
}

body {
    margin: 0px;
    font-size: 12pt;
    height:90%;
}

main {
    display: flex;
    margin-bottom: 8%;
}

.center{
    padding: 2% 5% 5% 20%;
    width: 180%;
}

.sidebar{
    padding: 10% 5% 5% 0%;
    width: 60%
}

footer {
    background-color: navy;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 7%;
}

p {
    margin: 0;
    padding: 10px;
}

.top{
    border-top: 20px solid rgb(191, 191, 255);
    text-align: center;
}

#article{
    margin-bottom: 5px;
}

.picture{
    width: 100%;
}
